{% extends 'base.html' %}
{% block title %}About me{% endblock title %}
{% block content %}
<div class="about-me">
    <img src="/static/img/profile.jpg" alt="Abraham's Profile Picture">
    <div class="description">
      <h1 >Hello, I'm Abraham</h1>
      <p>I'm a web development and software enthusiast who is passionate about creating amazing experiences through code. In my free time, I love to create lite websites that are both visually stunning and functional. I also enjoy building 2D games that challenge my creativity and programming skills.</p>
      <p>My ultimate goal is to become a software engineer and work on projects that impact people's lives. I'm dedicated to constantly improving my skills and knowledge in order to make that dream a reality. Let's connect and create something amazing together!</p>
    </div>
  </div>
  
{% endblock content %}