<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
    <script src="https://kit.fontawesome.com/776e9cf8a0.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <div class="all">
        <h1>Abraham Aitelmahjoub</h1>
        <div class="animation">
            <span class="text">I'm a Developer</span>
            <span class="cursor"></span>
          </div>
        <nav class="navbar">
            <ul class="list">
                <li><a href="{{ url_for('home_view') }}">home</a></li>
                <li><a href="{{ url_for('about_view') }}">About</a></li>
                <li><a href="{{ url_for('skills_view') }}">Skills</a></li>
                <li><a href="{{ url_for('contact_view') }}">Contact</a></li>
            </ul>
        </nav>
        <div class="icons">
            <i class="linkedin-in"><img src="{{ url_for('static',filename='img/linkedin-in.svg') }}" alt="linkedin"></i>
            <i class="github"><img src="{{ url_for('static',filename='img/github.svg') }}" alt="github"></i>
            <i class="google"><img src="{{ url_for('static', filename='img/google.svg') }}" alt="google"></i>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/app.js') }}" ></script>
</body>
</html>